[tool.poetry]
name = "importspy"
version = "0.1.4"
description = "A tool to monitor and trace module imports in Python projects."
license = "MIT"
authors = ["Luca Atella <atellaluca@outlook.it>"]
readme = "README.md"
packages = [{include = "importspy", from = "src"}]

[tool.poetry.dependencies]
python = "^3.10"


[tool.poetry.group.dev.dependencies]
sphinx = ">=5,<8"
pytest = "^8.3.3"
sphinx-rtd-theme = "^2.0.0"

[tool.poetry.urls]
repository = "https://github.com/atellaluca/importspy"
documentation = "https://importspy.readthedocs.io"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
