[tool.poetry]
name = "importspy"
version = "0.1.11"
description = "ImportSpy is a lightweight Python library that enables proactive control over how your code is used when imported by other modules or packages. It allows developers to define rules that importing modules must follow, ensuring proper use and preventing misuse or errors."
license = "MIT"
authors = ["Luca Atella <atellaluca@outlook.it>"]
readme = "README.rst"
packages = [{include = "importspy", from = "src"}]

[tool.poetry.dependencies]
python = "^3.10"
pydantic = "^2.9.2"


[tool.poetry.group.dev.dependencies]
sphinx = ">=5,<9"
pytest = "^8.3.3"
sphinx-rtd-theme = ">=2,<4"

[tool.poetry.urls]
repository = "https://github.com/atellaluca/importspy"
documentation = "https://importspy.readthedocs.io"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
